<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskeliste</title>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>
<header class="topbar">
    <a th:href="@{/}" class="logo">🎁 Wishlist</a>
    <nav class="nav-links">
        <a th:href="@{|/${profileId}/profile|}" class="btn secondary">Se Profil</a>
        <a th:href="@{/logout}" class="btn secondary">Log ud</a>
    </nav>
</header>

<h2 th:text="${dto.wishList.name}">Ønskeliste-navn</h2>
<p th:text="${dto.wishList.description}">Beskrivelse</p>

<!-- Hvis listen er tom -->
<div th:if="${#lists.isEmpty(dto.wishes)}">
    <p>Ønskelisten er tom.</p>
</div>

<!-- Hvis der er ønsker -->
<ul th:if="${!#lists.isEmpty(dto.wishes)}">
    <li th:each="wish : ${dto.wishes}">
        <a th:href="@{|/${profileId}/wishlists/${dto.wishList.id}/wish/${wish.id}|}">
            <strong th:text="${wish.name}">Ønske navn</strong>
        </a>
        <p th:text="${wish.description}">Beskrivelse</p>
    </li>
</ul>

<!-- Opret nyt ønske-knap nederst -->
<a th:href="@{|/${profileId}/wishlists/${dto.wishList.id}/createnewwish|}" class="btn">➕ Tilføj ønske</a>



</body>
</html>