# Default ignored files
/shelf/
/workspace.xml

# Ignore IntelliJ misc.xml to avoid local JDK conflict
.idea/misc.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/misc.xml